.get-error {
  height: 70px;
  background-color: red;
  color: white;
  width: 100%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  position: relative;
  max-width: 1280px;
  width: 80%;
}

.get-error__button {
  position: absolute;
  top: 20px;
  right: 5px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
