.header {
  max-width: 1280px;
  width: 80%;
  height: 70px;
  display: flex;
  background-color: grey;
  margin: 0 auto;
}

.header__button {
  display: flex;
  width: 100px;
  height: 50px;
  margin: auto auto auto 20px;
  background-color: #474747;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family:serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  align-items:center;
  justify-content:center;
}

.header__button_hiden {
  display: none;
}

.header__button:last-of-type {
  margin: auto 20px auto auto;
}

.header__button:hover{
  opacity: 0.8;
}

.header__title {
  font-family:serif, Arial, Helvetica, sans-serif;
  font-size: 42px;
  line-height: 42px;
  padding: 0;
  margin: auto;
}
