.task {
  padding: 20px;
  max-width: 1240px;
  width: 77.5%;
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: 150px auto auto 200px;
  grid-template-rows: 50px auto auto;
  column-gap:20px;
  background-color: rgb(190, 189, 189);
  border-radius: 15px;
}

.task__create-date {
  font-family:serif, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: auto;
}

.task__delete-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: auto;
  display: flex;
  font-family:serif, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.task__delete-button:hover{
  opacity: 0.5;
}

.task__edit-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: auto;
  display: flex;
  font-family:serif, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.task__edit-button:hover{
  opacity: 0.5;
}

.task__description {
  font-family:serif, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  grid-row: 2/4;
  grid-column:1/4;
  box-shadow: 0.4em 0.4em 0.4em 0.4em rgba(122,122,122,0.5);
}

.task__image {
  width: 200px;
  height: 200px;
  grid-column:4/5;
  grid-row: 1/4;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  object-fit: cover;
}

